
@{
    ViewData["Title"] = "CompraConfirmada";
}

<h1>Compra Confirmada</h1>

<h3>SU PEDIDO ESTÁ EN CAMINO </h3>
<br />
<a href="@Url.Action("PaneldeUsuario", "Cliente")"
   class="btn btn-primary">
    PANEL DE USUARIO
</a>

